server {
    listen 80;
    server_name {{ nginx_server_name }};

    root {{ nginx_default_root_site }};
    index index.html index.htm;



    location / {
    default_type "text/html";
    try_files $uri.html $uri $uri/ =404;
    }
}